/* Styles pour le composant Swiper */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;

    &-wrapper {
        position: relative !important;
        width: 160% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    &-slide {
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 500px;
        text-align: center;

        img {
            display: block;
            width: 100%;
        }

        h4 {
            margin-top: 10px;
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            flex-direction: column !important;
            width: 50% !important;
            left: 55px !important;
            height: auto !important;
            justify-content: flex-start !important;
            align-items: center !important;
        }

        &-slide {
            width: 100% !important;
            height: auto !important;
            margin-bottom: 20px !important;
        }

        padding-top: 20px !important;
        padding-bottom: 20px !important;

        &-pagination,
        &-button-next,
        &-button-prev {
            display: none !important;
        }
    }
}

.tittle-personnages {
    display: flex;
    text-align: left;
}