/* Variables pour les animations */
$rotation-duration: 8s;
$rotation-timing: linear;
$rotation-iteration: infinite;

/* Définition de l'animation pour faire tourner les fleurs */
@keyframes rotation-fleur {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

/* Mixin pour l'animation */
@mixin rotation-fleur($width, $height, $transform-origin: null) {
  animation: rotation-fleur $rotation-duration $rotation-timing $rotation-iteration;
  width: $width;
  height: $height;
  @if $transform-origin {
    transform-origin: $transform-origin;
  }
}

.story {
  h2::after {
    @include rotation-fleur(155px, 154px);
  }

  &__article::after {
    @include rotation-fleur(null, null, 94px 94px);
  }
}

#studio {
  h2 {
    &::before {
      @include rotation-fleur(203px, 199px);
    }

    &::after {
      @include rotation-fleur(109px, 109px);
    }
  }
}

.site-footer {
  ul::after {
    @include rotation-fleur(null, null);
  }

  &::before, &::after {
    display: none;
  }
}

.oscars {
  &::before {
    @include rotation-fleur(155px, 154px);
  }

  &::after {
    @include rotation-fleur(173px, 165px);
  }
}

/* Media query pour réduire la taille des fleurs en dessous de 768px */
@media (max-width: 768px) {
  .story {
    h2::after {
      @include rotation-fleur(100px, 100px);
    }

    &__article::after {
      transform-origin: 50px 50px;
    }
  }

  #studio {
    h2 {
      &::before {
        @include rotation-fleur(130px, 130px);
      }

      &::after {
        @include rotation-fleur(80px, 80px);
      }
    }
  }

  .oscars {
    &::before {
      @include rotation-fleur(100px, 100px);
    }

    &::after {
      @include rotation-fleur(110px, 110px);
    }
  }
}