/*
Ce fichier  définit les styles pour le déplacement des nuages dans la section "place" avec un effet de parallaxe.

- #place : Contient la section avec une image de fond.
- .place--big_cloud : Style pour le gros nuage, positionné à droite et déplacé avec translateX.
- .place--little_cloud : Style pour le petit nuage, positionné à droite et déplacé avec translateX.
*/


.story #place {
    position:relative;
    background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    z-index: -1;
  }
  
  #place .place--big_cloud,
  #place .place--little_cloud {
    position: absolute;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    z-index: 2;
  }
  
/* Définition des styles spécifiques pour chaque nuage : */

  #place .place--big_cloud {
    height: 122px;	
    top: 70px;
    right: -200px;
    transform: translateX(var(--posX));
  }
  
  #place .place--little_cloud {
    height: 55px;	
      top: 250px;
    right: 300px;
    transform: translateX(var(--posX));
  }