@charset "UTF-8";
/*
  theme.scss

  Ce fichier importe les différents styles nécessaires pour le thème du site.

  - animationsection : Styles pour les animations de sections
  - animationfleurs : Styles pour les animations des fleurs
  - sectionnomination : Styles pour la section de nomination
  - animationtitres : Styles pour les animations de titres
  - banniere : Styles pour la bannière
  - animationswiper : Styles pour les animations du Swiper + titre "Les Personnages"
*/
/* Définition des animations keyframes pour fadeIn */
@keyframes fadeIn {
  /* Début de l'animation */
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  /* Presque à la fin de l'animation */
  80%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Définition des animations keyframes pour fadeInverse */
@keyframes fadeInverse {
  /* Début de l'animation */
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  /* Presque à la fin de l'animation */
  80%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Propriétés communes pour les animations fadeIn et fadeInverse */
.fadeIn, .fadeInverse {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

/* Application de l'animation fadeIn */
.fadeIn {
  animation-name: fadeIn;
}

/* Application de l'animation fadeInverse */
.fadeInverse {
  animation-name: fadeInverse;
}

/* Définition de l'animation pour faire tourner les fleurs */
@keyframes rotation-fleur {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.story h2::after {
  animation: rotation-fleur 8s linear infinite;
  width: 155px;
  height: 154px;
}

.story__article::after {
  animation: rotation-fleur 8s linear infinite;
  transform-origin: 94px 94px;
}

#studio h2::before {
  animation: rotation-fleur 8s linear infinite;
  width: 203px;
  height: 199px;
}

#studio h2::after {
  animation: rotation-fleur 8s linear infinite;
  width: 109px;
  height: 109px;
}

.site-footer ul::after {
  animation: rotation-fleur 8s linear infinite;
}

.site-footer::before, .site-footer::after {
  display: none;
}

.oscars::before {
  animation: rotation-fleur 8s linear infinite;
  width: 155px;
  height: 154px;
}

.oscars::after {
  animation: rotation-fleur 8s linear infinite;
  width: 173px;
  height: 165px;
}

/* Styles et animations pour la section de nomination */
.oscars {
  animation: fadeInUp 1s; /* Animation pour l'apparition de la section */
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10em;
}
@media (max-width: 1192px) {
  .oscars {
    flex-direction: column;
    align-items: center;
  }
}
.oscars h3 {
  padding: 80px 80px;
  background-image: url("../assets/images/orange_nomination_bg.png");
  line-height: normal;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1192px) {
  .oscars h3 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .oscars h3 {
    padding: 70px 70px;
  }
}
.oscars h3 span {
  display: inline-block;
  width: 668px;
}
@media (max-width: 1192px) {
  .oscars h3 span {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .oscars h3 span {
    width: 320px;
    font-size: 1.5rem;
  }
}
.oscars img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: -48px;
  margin-left: -48px;
  width: 278px;
}
.oscars::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 8em;
  top: 0em;
}
@media (max-width: 699.5px) {
  .oscars::before {
    display: none;
  }
}
.oscars::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 18.5em;
}
@media (max-width: 699.5px) {
  .oscars::after {
    display: none;
  }
}

/* Styles pour l'animation des titres */
.titleFade {
  position: relative;
  top: 100px;
  opacity: 0;
  transition: top 3s, opacity 3s; /* Transition en douceur pour le déplacement et l'opacité */
}

.titleFade.animated {
  top: 0;
  opacity: 1; /* Rend le titre visible et à sa position finale */
}

.delay {
  transition-delay: 1s; /* Délai d'1 seconde pour l'animation */
}

/* Styles et animations pour la bannière */
@keyframes floating-logo {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.banner {
  animation: fadeInDown 1s; /* Animation pour l'apparition de la bannière */
}
.banner__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  width: 45%;
  position: relative;
  animation: fadeInUp 1s, floating-logo 6s ease-in-out 1s infinite; /* Animation pour le logo */
  z-index: 2;
}

#header_video {
  position: absolute;
}
@media (max-width: 768px) {
  #header_video {
    display: none; /* Masquer la vidéo sur les écrans plus petits */
  }
}

/* Styles pour le composant Swiper */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative !important;
  width: 160% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide h4 {
  margin-top: 10px;
}

.tittle-personnages {
  display: flex;
  text-align: left;
}/*# sourceMappingURL=theme.css.map */